<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="iam.dao.SPARK_APPMapper" >
  <resultMap id="BaseResultMap" type="iam.db.SPARK_APP" >
    <id column="APP_ID" property="APP_ID" jdbcType="DECIMAL" />
    <result column="APP_NAME" property="APP_NAME" jdbcType="VARCHAR" />
    <result column="RUN_TYPE" property="RUN_TYPE" jdbcType="DECIMAL" />
    <result column="START_TIME" property="START_TIME" jdbcType="VARCHAR" />
    <result column="SPARK_CORE_NUMBER" property="SPARK_CORE_NUMBER" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_ID, APP_NAME, RUN_TYPE, START_TIME, SPARK_CORE_NUMBER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SPARK_APP
    where APP_ID = #{APP_ID,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SPARK_APP
    where APP_ID = #{APP_ID,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="iam.db.SPARK_APP" >
    insert into SPARK_APP (APP_ID, APP_NAME, RUN_TYPE, 
      START_TIME, SPARK_CORE_NUMBER)
    values (#{APP_ID,jdbcType=DECIMAL}, #{APP_NAME,jdbcType=VARCHAR}, #{RUN_TYPE,jdbcType=DECIMAL}, 
      #{START_TIME,jdbcType=VARCHAR}, #{SPARK_CORE_NUMBER,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="iam.db.SPARK_APP" >
    insert into SPARK_APP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_ID != null" >
        APP_ID,
      </if>
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="RUN_TYPE != null" >
        RUN_TYPE,
      </if>
      <if test="START_TIME != null" >
        START_TIME,
      </if>
      <if test="SPARK_CORE_NUMBER != null" >
        SPARK_CORE_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_ID != null" >
        #{APP_ID,jdbcType=DECIMAL},
      </if>
      <if test="APP_NAME != null" >
        #{APP_NAME,jdbcType=VARCHAR},
      </if>
      <if test="RUN_TYPE != null" >
        #{RUN_TYPE,jdbcType=DECIMAL},
      </if>
      <if test="START_TIME != null" >
        #{START_TIME,jdbcType=VARCHAR},
      </if>
      <if test="SPARK_CORE_NUMBER != null" >
        #{SPARK_CORE_NUMBER,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="iam.db.SPARK_APP" >
    update SPARK_APP
    <set >
      <if test="APP_NAME != null" >
        APP_NAME = #{APP_NAME,jdbcType=VARCHAR},
      </if>
      <if test="RUN_TYPE != null" >
        RUN_TYPE = #{RUN_TYPE,jdbcType=DECIMAL},
      </if>
      <if test="START_TIME != null" >
        START_TIME = #{START_TIME,jdbcType=VARCHAR},
      </if>
      <if test="SPARK_CORE_NUMBER != null" >
        SPARK_CORE_NUMBER = #{SPARK_CORE_NUMBER,jdbcType=DECIMAL},
      </if>
    </set>
    where APP_ID = #{APP_ID,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="iam.db.SPARK_APP" >
    update SPARK_APP
    set APP_NAME = #{APP_NAME,jdbcType=VARCHAR},
      RUN_TYPE = #{RUN_TYPE,jdbcType=DECIMAL},
      START_TIME = #{START_TIME,jdbcType=VARCHAR},
      SPARK_CORE_NUMBER = #{SPARK_CORE_NUMBER,jdbcType=DECIMAL}
    where APP_ID = #{APP_ID,jdbcType=DECIMAL}
  </update>
</mapper>