<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="spring,iam"/>
    <!-- a stateful bean deployed as a prototype (non-singleton) -->
    <bean id="myCommand" class="spring.test.B" scope="prototype">
        <!-- inject dependencies here as required -->
    </bean>

    <!-- commandProcessor uses statefulCommandHelper -->
    <bean id="commandManager" class="spring.test.A">
        <lookup-method name="createCommand" bean="myCommand"/>
    </bean>

    <import resource="classpath*:spring-mybatis.xml"/>
    <beans profile="dev">
        <context:property-placeholder location="classpath:dev.properties" />
    </beans>
    <!--
    <beans profile="iamtest">
        <context:property-placeholder location="classpath:dev.properties" />
    </beans>
    -->
</beans>